<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:be.pageRenderer includeRequireJsModules="{0: 'TYPO3/CMS/Webauthn/Edit'}" />

    <input type="hidden" name="updateAction" id="updateAction" value="save" />
    <input type="hidden" name="credential" id="credential" value="" />

    <div class="row">
        <div class="col col-md-2">
            <div class="table-fit">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <f:translate
                                    key="LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:edit.saved"
                                />
                            </th>
                        </tr>
                    </thead>
                    <tbody id="saveCredentailsList">
                        <f:for each="{credentials}" as="credential">
                            <tr>
                                <td>
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="newNames[{credential.id}]"
                                        value="{credential.name -> f:format.htmlspecialchars()}"
                                    />
                                </td>
                                <td width="1">
                                    <f:if condition="{allowDelete}">
                                        <f:then>
                                            <button
                                                type="button"
                                                class="btn btn-sm btn-danger"
                                                data-toggle="deleteWebauthn"
                                                data-webauthn-id="{credential.id}"
                                            >
                                                <c:icon identifier="actions-delete" />
                                            </button>
                                        </f:then>
                                        <f:else>
                                            <button disabled type="button" class="btn btn-sm btn-danger disabled">
                                                <c:icon identifier="actions-delete" />
                                            </button>
                                        </f:else>
                                    </f:if>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
                <f:variable name="nextName"
                    ><f:translate
                        key="LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:edit.newName"
                        arguments="{0: nextDevice}"
                /></f:variable>
                <f:variable name="nextLabel"
                    ><f:translate key="LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:edit.newLabel"
                /></f:variable>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <f:translate key="LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:edit.add" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input
                                    class="form-control"
                                    type="text"
                                    name="name"
                                    id="newName"
                                    value="{nextName}"
                                    placeholder="{nextLabel}"
                                />
                            </td>
                            <td width="1">
                                <button
                                    type="button"
                                    class="btn btn-sm btn-success"
                                    data-toggle="addWebauthn"
                                    data-creation-options="{credentailCreationOptions -> f:format.json() -> f:format.htmlspecialchars()}"
                                >
                                    <c:icon identifier="actions-add" />
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>
