<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:be.pageRenderer
        includeRequireJsModules="{0: 'TYPO3/CMS/Webauthn/Setup'}"
        addJsInlineLabels="{registerError: 'LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.error.registerFailed'}"
    />

    <fieldset class="row" id="addWebauthnForm">
        <div class="col-lg-4">
            <div class="mt-3">
                <div class="form-control-wrap mt-1">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            id="deviceName"
                            name="newName"
                            value="{f:translate(key: 'LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.deviceName.value')}"
                            placeholder="{f:translate(key: 'LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.deviceName.placeholder')}"
                            aria-label="{f:translate(key: 'LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.deviceName.placeholder')}"
                            required
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-toggle="addWebauthn">
                                <c:icon identifier="actions-add" />
                                <f:translate
                                    key="LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.saveBtn"
                                />
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</html>
