<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:be.pageRenderer
        includeRequireJsModules="{0: 'TYPO3/CMS/Webauthn/Setup'}"
        addJsInlineLabels="{registerError: 'LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.error.registerFailed'}"
    />

    <fieldset
        class="row"
        id="addWebauthnForm"
        data-creation-options="{credentailCreationOptions -> f:format.json() -> f:format.htmlspecialchars()}"
    >
        <f:variable name="name"
            ><f:if condition="{deviceName}">
                <f:then>{deviceName}</f:then>
                <f:else
                    >{f:translate(key:
                    'LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.deviceName.value')}</f:else
                >
            </f:if></f:variable
        >
        <div class="col col-md-1">
            <div class="mt-3">
                <div class="form-control-wrap mt-1">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            id="deviceName"
                            name="name"
                            value="{name}"
                            placeholder="{f:translate(key: 'LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.deviceName.placeholder')}"
                            aria-label="{f:translate(key: 'LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.deviceName.placeholder')}"
                            required
                        />
                        <input type="hidden" name="credential" id="credential" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" data-toggle="addWebauthn">
                                <c:icon identifier="actions-add" />
                                <f:translate
                                    key="LLL:EXT:webauthn/Resources/Private/Language/locallang.xlf:setup.saveBtn"
                                />
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</html>
